@using System;
@{
    Layout = "~/Areas/InstructorFunction/Views/Shared/_InstructorLayout.cshtml";
    double averageRate = (double)ViewData["AvarageRate"];

    int Vote1 = (int)ViewData["Vote1"];
    int Vote2 = (int)ViewData["Vote2"];
    int Vote3 = (int)ViewData["Vote3"];
    int Vote4 = (int)ViewData["Vote4"];
    int Vote5 = Vote5 = (int)ViewData["Vote5"];
    if (averageRate > 0)
    {
        Vote5 = 100 - Vote1 - Vote2 - Vote3 - Vote4;

    }
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="st_title"><i class="uil uil-star"></i> All Review</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="student_reviews">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="reviews_left">
                            <h3>All Student Feedback</h3>
                            <div class="total_rating">
                                @if (averageRate > 0)
                                {
                                    <div class="_rate001">@averageRate</div>
                                }
                                else
                                {
                                    <div class="_rate001">No result</div>
                                }

                                <div class="rating-box">
                                    @for (int i = 0; i < Math.Round(averageRate); i++)
                                    {
                                        <span class="rating-star full-star">
                                        </span>
                                    }
                                    @for (int i = 0; i < (5 - Math.Round(averageRate)); i++)
                                    {
                                        <span class="rating-star empty-star">
                                        </span>
                                    }
                                </div>
                                <div class="_rate002">All Rating</div>
                            </div>
                            <div class="_rate003">
                                <div class="_rate004">
                                    <div class="progress progress1">
                                        <div class="progress-bar " role="progressbar" aria-valuenow="@Vote5" aria-valuemin="0" aria-valuemax="100" style="width:@Vote5%">
                                        </div>
                                    </div>
                                    <div class="rating-box">
                                        @for (int i = 0; i < Math.Round((double)Vote5 / 10); i++)
                                        {
                                            <span class="rating-star full-star">
                                            </span>
                                        }
                                        @for (int i = 0; i < (5 - Math.Round((double)Vote5 / 10)); i++)
                                        {
                                            <span class="rating-star empty-star">
                                            </span>
                                        }
                                    </div>
                                    <div class="_rate002">@Vote5%</div>
                                </div>
                                <div class="_rate004">
                                    <div class="progress progress1">
                                        <div class="progress-bar " role="progressbar" aria-valuenow="@Vote4" aria-valuemin="0" aria-valuemax="100" style="width:@Vote4%">
                                        </div>
                                    </div>
                                    <div class="rating-box">
                                        @for (int i = 0; i < Math.Round((double)Vote4 / 10); i++)
                                        {
                                            <span class="rating-star full-star">
                                            </span>
                                        }
                                        @for (int i = 0; i < (5 - Math.Round((double)Vote4 / 10)); i++)
                                        {
                                            <span class="rating-star empty-star">
                                            </span>
                                        }
                                    </div>
                                    <div class="_rate002">@Vote4%</div>
                                </div>
                                <div class="_rate004">
                                    <div class="progress progress1">
                                        <div class="progress-bar " role="progressbar" aria-valuenow="@Vote3" aria-valuemin="0" aria-valuemax="100" style="width:@Vote3%">
                                        </div>
                                    </div>
                                    <div class="rating-box">
                                        @for (int i = 0; i < Math.Round((double)Vote3 / 10); i++)
                                        {
                                            <span class="rating-star full-star">
                                            </span>
                                        }
                                        @for (int i = 0; i < (5 - Math.Round((double)Vote3 / 10)); i++)
                                        {
                                            <span class="rating-star empty-star">
                                            </span>
                                        }
                                    </div>
                                    <div class="_rate002">@Vote3%</div>
                                </div>
                                <div class="_rate004">
                                    <div class="progress progress1">
                                        <div class="progress-bar " role="progressbar" aria-valuenow="@Vote2" aria-valuemin="0" aria-valuemax="100" style="width:@Vote2%">
                                        </div>
                                    </div>
                                    <div class="rating-box">
                                        @for (int i = 0; i < Math.Round((double)Vote2 / 10); i++)
                                        {
                                            <span class="rating-star full-star">
                                            </span>
                                        }
                                        @for (int i = 0; i < (5 - Math.Round((double)Vote2 / 10)); i++)
                                        {
                                            <span class="rating-star empty-star">
                                            </span>
                                        }
                                    </div>
                                    <div class="_rate002">@Vote2%</div>
                                </div>
                                <div class="_rate004">
                                    <div class="progress progress1">
                                        <div class="progress-bar " role="progressbar" aria-valuenow="@Vote1" aria-valuemin="0" aria-valuemax="100" style="width:@Vote1%">
                                        </div>
                                    </div>
                                    <div class="rating-box">
                                        @for (int i = 0; i < Math.Round((double)Vote1 / 10); i++)
                                        {
                                            <span class="rating-star full-star">
                                            </span>
                                        }
                                        @for (int i = 0; i < (5 - Math.Round((double)Vote1 / 10)); i++)
                                        {
                                            <span class="rating-star empty-star">
                                            </span>
                                        }
                                    </div>
                                    <div class="_rate002">@Vote1%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="review_right">
                            <div class="review_right_heading">
                                <h3>All Reviews</h3>
                            </div>
                        </div>
                        @foreach (var courseRates in ViewBag.CourseRates)
                        {
                            <div class="review_all120 mb-30">
                                <div class="review_item_course_title">
                                    @{
                                        int tag = 0;
                                    }
                                    @foreach (var item in courseRates)
                                    {
                                        @if (tag == 0)
                                        {
                                            <a href="#">@item.Course.Title</a>
                                            break;
                                        }
                                    }
                                </div>
                                @foreach (var item in courseRates)
                                {
                                    <div class="review_item">
                                        <div class="review_usr_dt">
                                            @if (item.Student.Image != null)
                                            {
                                                var base64 = Convert.ToBase64String(item.Student.Image);
                                                if (base64 != "")
                                                {
                                                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                                    <img src="@imgsrc" width="100%" />
                                                }
                                                else
                                                {
                                                    <img src="~/frontend/images/hd_dp.jpg" />
                                                }

                                            }
                                            <div class="rv1458">
                                                <h4 class="tutor_name1">@item.Student.StudentName</h4>
                                                <span class="time_145">@item.PrettyDate</span>
                                            </div>
                                        </div>
                                        <div class="rating-box mt-20">
                                            @for (int i = 0; i < item.Star; i++)
                                            {
                                                <span class="rating-star full-star">
                                                </span>
                                            }

                                            @for (int i = 0; i < (5 - item.Star); i++)
                                            {
                                                <span class="rating-star empty-star">
                                                </span>
                                            }
                                        </div>
                                        <p class="rvds10">@item.Messge</p>
                                    </div>
                                }
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>