@using Learning_Managerment_SystemMarket_Services.StudentServices.LectureService
@using Learning_Managerment_SystemMarket_Core.Models.Entities
@using System.Collections;
@inject ILectureService _lecture
@{
    ICollection<CourseContent> courseContents = await _lecture.GetCourseContentByCourseId(Model.Id);
}

<style>
    /*body {
        margin: 2rem;
    }*/

    .modal-dialog {
        max-width: 800px;
        margin: 30px auto;
    }



    .modal-body {
        position: relative;
        padding: 0px;
    }

    .close {
        position: absolute;
        right: -30px;
        top: 0;
        z-index: 999;
        font-size: 2rem;
        font-weight: normal;
        color: #fff;
        opacity: 1;
    }

    iframe {
        width: 800px !important;
        height: 451px !important;
    }
</style>

<div class="tab-pane fade" id="nav-courses" role="tabpanel">
    @foreach (var item in courseContents)
    {
        var lectureList = await _lecture.FindAll(x => x.CourseContentId == item.Id);
        <div class="crse_content">
            <h3>@item.Title</h3>
            <div id="accordion" class="ui-accordion ui-widget ui-helper-reset">
                <a href="javascript:void(0)" class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">
                    <div class="section-header-left">
                        <span class="section-title-wrapper">
                            <i class="uil uil-presentation-play crse_icon"></i>
                            <span class="section-title-text">Introduction To This Course</span>
                        </span>
                    </div>
                </a>


            </div>
            @foreach (var lecture in lectureList)
            {
                <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="">

                    <div class="lecture-container">
                        <div class="left-content">
                            <i class="uil uil-file icon_142"></i>
                            <div class="top">
                                <div class="title">@lecture.Title</div>
                            </div>
                        </div>
                        <div class="details">
                            @*<a href="#headerPopup" target="" class="preview-text">Play</a>*@
                            @*<a href="#headerPopup" target="" class="preview-text">Play</a>*@

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary video-btn" data-toggle="modal" data-src="@lecture.File" data-target="#myModal">
                                Play
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <!-- 16:9 aspect ratio -->
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item" src="@lecture.File" id="video" frameborder="0" allowfullscreen></iframe>
                                                @*<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lyYE4Cn-Dq4" id="video" frameborder="0" allowfullscreen></iframe>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div id="headerPopup" class="mfp-hide embed-responsive embed-responsive-21by9">
                        <iframe class="embed-responsive-item" width="854" height="480" src="@lecture.File" frameborder="0" allowfullscreen></iframe>
                    </div>*@
            }

        </div>
    }
</div>


<script>
    //$(document).ready(function () {
    //    $('#headerVideoLink').magnificPopup({
    //        type: 'inline',
    //        midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
    //    });
    //});

    //function popitup(url, windowName) {
    //    newwindow = window.open(url, windowName, 'height=200,width=150');
    //    if (window.focus) { newwindow.focus() }
    //    return false;
    //}

    //$(document).ready(function () {

    //    // Gets the video src from the data-src on each button

    //    var $videoSrc;
    //    $('.video-btn').click(function () {
    //        $videoSrc = $(this).data("src");
    //    });
    //    console.log($videoSrc);

    //    // when the modal is opened autoplay it
    //    $('#myModal').on('shown.bs.modal', function (e) {

    //        // set the video src to autoplay and not to show related video. Youtube related video is like a box of chocolates... you never know what you're gonna get
    //        $("#video").attr('src', $videoSrc + "?autoplay=1&amp;modestbranding=1&amp;showinfo=0");
    //    })
    //    // stop playing the youtube video when I close the modal
    //    $('#myModal').on('hide.bs.modal', function (e) {
    //        // a poor man's stop video
    //        $("#video").attr('src', $videoSrc);
    //    })
    //    // document ready
    //});

</script>




