@using Learning_Managerment_SystemMarket_Services.StudentServices.OrderService;
@using Learning_Managerment_SystemMarket_Services.StudentServices.InstructorService;
@using Learning_Managerment_SystemMarket_Core.Models.Entities;
@using Microsoft.AspNetCore.Identity
@using Learning_Managerment_SystemMarket_Services.StudentServices.SubcriptionService;
@using AutoMapper;
@using Learning_Managerment_SystemMarket_ViewModels.StudentViewModels;
@model Learning_Managerment_SystemMarket_Core.Models.Entities.Instructor

@inject IOrderService _orderService;
@inject IStudentInstructorService _stdInstructorService;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject ISubcriptionService _subcriptionService;
@inject IMapper _mapper;
@{
    ViewData["Title"] = "InstructorDetails";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    var count = await _orderService.GetAllStudentEnrollCourse(Model.Id);
    var countCourse = await _stdInstructorService.CountCourseByInstructorId(Model.Id);
    var listCourseByInstructor = await _stdInstructorService.GetCourseByInstructorId(Model.Id);
    var cardCourse = _mapper.Map<IList<Course>, IList<CardCourseVM>>(listCourseByInstructor);
    var user = await UserManager.GetUserAsync(User);
}
<div class="_216b01">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10">
                <div class="section3125 rpt145">
                    <div class="row">
                        <div class="col-lg-7">

                            <div class="dp_dt150">
                                <div class="img148">
                                    @if (Model.Image != null)
                                    {
                                        var base64 = Convert.ToBase64String(Model.Image);
                                        var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                        <img src="@imgsrc" width="100%" />
                                    }
                                </div>
                                <div class="prfledt1">
                                    <h2></h2>
                                    <span>@Model.InstructorName</span>
                                </div>
                            </div>
                            <ul class="_ttl120">
                                <li>
                                    <div class="_ttl121">
                                        <div class="_ttl122">Enroll Students</div>
                                        <div class="_ttl123">@count</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="_ttl121">
                                        <div class="_ttl122">Courses</div>
                                        <div class="_ttl123">@countCourse</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="_ttl121">
                                        <div class="_ttl122">Subscribers</div>
                                        <div class="_ttl123">@countCourse</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="_ttl121">
                                        <div class="_ttl122">Reviews</div>
                                        <div class="_ttl123">4</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-5">

                            <div class="rgt-145">
                                <ul class="tutor_social_links">
                                    <li>
                                        <a href="http://facebook.com/https://www.facebook.com/https://www.facebook.com/" class="fb"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li><a href="http://twitter.com/https://twitter.com/" class="tw"><i class="fab fa-twitter"></i></a></li>
                                    <li>
                                        <a href="http://www.linkedin.com/https://www.linkedin.com/" class="ln"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                    <li><a href="http://www.youtube.com/https://www.youtube.com/" class="yu"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                            <ul class="_bty149">
                                <li>
                                    @if (user != null)
                                    {
                                        var subcriptionExist = await _subcriptionService.IsSubcribeExist(user.IdUser, Model.Id);
                                        if (!subcriptionExist)
                                        {
                                            <a class="btn btn-danger" asp-route-InstructorId="@Model.Id" asp-route-ReturnUrl="~/StudentFunction/Instructor/InstructorDetails/@Model.Id"
                                               asp-route-StudentId="@user.IdUser"
                                               asp-area="StudentFunction" asp-action="Subcribe" asp-controller="Student">Subscribe</a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-danger" asp-route-InstructorId="@Model.Id" asp-route-ReturnUrl="~/StudentFunction/Instructor/InstructorDetails/@Model.Id"
                                               asp-route-StudentId="@user.IdUser"
                                               asp-area="StudentFunction" asp-action="UnSubcribe" asp-controller="Student">UnSubscribe</a>
                                        }


                                    }
                                    else
                                    {
                                        <a id="login" asp-area="Identity" asp-page="/Account/Login" class="btn btn-danger">
                                            Subscribe
                                        </a>
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="course_tabs">
        <nav>
            <div class="nav nav-tabs tab_crse" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-selected="true">About</a>
                <a class="nav-item nav-link" id="nav-courses-tab" data-toggle="tab" href="#nav-courses" role="tab" aria-selected="false">Courses</a>
                <a class="nav-item nav-link" id="nav-reviews-tab" data-toggle="tab" href="#nav-reviews" role="tab" aria-selected="false">Discussion</a>
            </div>
        </nav>
    </div>
</div>
<div class="_215b17">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="course_tab_content">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade active show" id="nav-about" role="tabpanel">
                            <div class="_htg451">
                                <div class="_htg452">
                                    <h3>About Me</h3>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-courses" role="tabpanel">
                            <div class="crse_content">
                                <h3>My courses</h3>
                                <div class="_14d25">
                                    <div class="row">

                                        @foreach (var item in cardCourse)
                                        {
                                            <div class="col-lg-3 col-md-4">
                                                <div class="item">
                                                    <div class="fcrse_1 mb-20">
                                                        <a asp-area="StudentFunction" asp-controller="Student" asp-action="CourseDetails" asp-route-id="@item.Id" class="fcrse_img">
                                                            @if (item.CoverImage != null)
                                                            {
                                                                var base64 = Convert.ToBase64String(item.CoverImage);
                                                                var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                                                <img src="@imgsrc" width="100%" />
                                                            }
                                                            <div class="course-overlay">
                                                                <div class="crse_reviews">
                                                                </div>
                                                                <span class="play_btn1"><i class="uil uil-play"></i></span>
                                                            </div>
                                                        </a>
                                                        <div class="fcrse_content">
                                                            <div class="eps_dots more_dropdown">
                                                                <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                                                <div class="dropdown-content">
                                                                    <a target="popup" onclick="window.open('https://coursearly.com/cursus/public/courses/angular-8-:-the-complete-guide-%282021-edition%29/6/share','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;">
                                                                        <span><i class="uil uil-share-alt"></i>Share</span>
                                                                    </a>
                                                                    <a href="https://coursearly.com/cursus/public/save/6/add">
                                                                        <span>
                                                                            <i class="uil uil-heart"></i>
                                                                            Save
                                                                        </span>
                                                                    </a>
                                                                    <a>
                                                                        <span class="text-danger"><i class="uil uil-windsock"></i>Reported</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="vdtodt">
                                                                <span class="vdt14">@item.Views views</span>
                                                                <span class="vdt14">@item.RelativeCreateDate</span>
                                                            </div>
                                                            <a asp-area="StudentFunction" asp-controller="Student" asp-action="CourseDetails" asp-route-id="@item.Id" class="crse14s">@item.Title</a>
                                                            <a href="#" class="crse-cate">
                                                                @item.Category.CategoryName | @item.SubCategory.SubCategoryName
                                                            </a>
                                                            <div class="auth1lnkprce">
                                                                <p class="cr1fot">
                                                                    By <a href="#">@Model.InstructorName</a>
                                                                </p>
                                                                <div class="prce142">$@item.Price</div>
                                                                <button class="shrt-cart-btn text-success" title="cart"><i class="uil uil-bag"></i></button>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-reviews" role="tabpanel">
                            <div class="student_reviews">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="review_right">
                                            <div class="review_right_heading">
                                                <h3>Discussions</h3>
                                            </div>
                                        </div>

                                        <div class="cmmnt_1526">
                                            <form action="https://coursearly.com/cursus/public/instructor-comment" method="POST">
                                                <input type="hidden" name="_token" value="hlCzhxllV1CSo0kj1BGeaoSA2jEZNLxoMRH5uddo">
                                                <div class="cmnt_group">
                                                    <div class="img160">
                                                        <img src="
                                                    https://coursearly.com/cursus/public/default.png" alt="">
                                                    </div>
                                                    <input type="hidden" name="instructor_id" value="9">
                                                    <textarea class="_cmnt001" placeholder="Add a public comment" required="" name="comment" minlength="20" maxlength="255"></textarea>
                                                </div>
                                                <button class="cmnt-btn" href="https://coursearly.com/cursus/public/login">Comment</button>
                                            </form>
                                        </div>
                                        <div class="review_all120">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


