@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Learning_Managerment_SystemMarket_Web.Areas.StudentFunction.Models.ExplorePagingModel
<nav aria-label="Page navigation example">
    <ul class="pagination">

        @{
            int position;
            int? pageCurrent = Model.CurrentPage;
            string txtSearch = Model.SearchString;
            float numSize = Model.NumSize;
            if (pageCurrent > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Explore", "Student", new { txtSearch = (txtSearch != "" ? txtSearch : null), page = pageCurrent-1 })" tabindex="-1">Previous</a>
                </li>
            }

            for (position = 1; position <= numSize; position++)
            {

                if (position == pageCurrent)
                {
                    <li class="page-item active"><a class="page-link" href="@Url.Action("Explore", "Student", new { txtSearch = (txtSearch != "" ? txtSearch : null), page = position })">@position</a></li>
                }

                else
                {
                    <li class="page-item"><a class="page-link" href="@Url.Action("Explore", "Student", new { txtSearch = (txtSearch != "" ? txtSearch : null), page = position })">@position</a></li>
                }

            }
            if (pageCurrent > 0 && pageCurrent < numSize)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Explore", "Student", new { txtSearch = (txtSearch != "" ? txtSearch : null), page = pageCurrent+1 })" tabindex="-1">Next</a>
                </li>
            }

        }

    </ul>
</nav>
