@model IEnumerable<Learning_Managerment_SystemMarket_ViewModels.StudentViewModels.CardCourseVM>
@using Learning_Managerment_SystemMarket_Core.Models.Entities;
@using Learning_Managerment_SystemMarket_Core.Contracts;
@using Microsoft.AspNetCore.Identity

@inject IUnitOfWork unitOfWork
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject Learning_Managerment_SystemMarket_Services.StudentServices.OrderService.IOrderService orderService;
@{
    ViewData["Title"] = "GetCourseByCategory";
    Layout = "/Views/Shared/_StudentLayout.cshtml";
    var user = await UserManager.GetUserAsync(User);
}
<div class="col-xl-12 col-lg-8">
    <div class="section3125">
        <div class="explore_search">
            <div class="ui search focus">
                <form action="https://coursearly.com/cursus/public/categories/design/5" method="post">
                    <input type="hidden" name="_token" value="xx6u44kO9tUAsMdAJlYbU8mAewMIZ94B5ZEJ80va">
                    <div class="ui left icon input swdh11">
                        <input class="prompt srch_explore" type="text" placeholder="Search Courses..." name="q" value="">
                        <i class="uil uil-search-alt icon icon2"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@if (Model.Count() == 0)
{
    <div class="col-md-12">
        <div class="_14d25">
            <div class="row mt-30">
                <div class="col-md-12 text-center">
                    <div class="no-data-div">
                        <img src="https://coursearly.com/cursus/public/nodata.svg" alt="No Data" srcset="">
                    </div>
                </div>

                <div class="col-md-12 text-center">
                    <div class="main-loader mt-50">
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="col-md-12">
        <div class="_14d25">
            <div class="row mt-30">
                @foreach (var course in Model)
                {
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="item">
                            <div class="fcrse_1 mb-20">
                                <a asp-area="StudentFunction" asp-controller="Student" asp-action="CourseDetails" asp-route-id="@course.Id" class="fcrse_img">
                                    @if (course.CoverImage != null)
                                    {
                                        var base64 = Convert.ToBase64String(course.CoverImage);
                                        var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                        <img src="@imgsrc" width="100%" />
                                    }
                                    <div class="course-overlay">
                                        <div class="badge_seller">Bestseller</div>
                                        <div class="crse_reviews">
                                            <i class="uil uil-star"></i>5.0
                                        </div>

                                        <span class="play_btn1"><i class="uil uil-play"></i></span>

                                        <div class="crse_timer">
                                            0 hours
                                        </div>
                                    </div>
                                </a>
                                <div class="fcrse_content">
                                    <div class="eps_dots more_dropdown">
                                        <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                        <div class="dropdown-content">
                                            <a target="popup" onclick="window.open('https://coursearly.com/cursus/public/courses/wordpress-for-beginner-:-create-a-website-step-by-step/7/share','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;">
                                                <span><i class="uil uil-share-alt"></i>Share</span>
                                            </a>
                                            <a href="https://coursearly.com/cursus/public/save/7/add">
                                                <span>
                                                    <i class="uil uil-heart"></i>
                                                    Save
                                                </span>
                                            </a>

                                            <a href="https://coursearly.com/cursus/public/report/7/add">
                                                <span><i class="uil uil-windsock"></i>Report</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="vdtodt">
                                        <span class="vdt14">@course.Views views</span>
                                        
                                        <span class="vdt14">@course.RelativeCreateDate</span>
                                    </div>
                                    <a href="https://coursearly.com/cursus/public/courses/wordpress-for-beginner-:-create-a-website-step-by-step/7" class="crse14s">@course.Title</a>
                                    <a href="#" class="crse-cate">
                                        Design |
                                        WordPress
                                    </a>
                                    <div class="auth1lnkprce">
                                        <p class="cr1fot">
                                            By <a asp-area="StudentFunction" asp-controller="Instructor" asp-action="InstructorDetails"
                                           asp-route-id="@course.Instructor.Id">@course.Instructor.InstructorName</a>
                                        </p>
                                        <div class="prce142">$@course.Price</div>
                                        @if (user != null)
                                        {
                                            var existingEnroll = await orderService.Find(
                                              expression: c => c.CourseId == course.Id
                                              && c.StudentId == user.IdUser);
                                            if (existingEnroll == null)
                                            {
                                                <a class="shrt-cart-btn" title="cart" asp-area="StudentFunction"
                                                   asp-controller="Cart" asp-action="AddCourseToCart"
                                                   asp-route-courseId="@course.Id" asp-route-studentId="@user.IdUser"
                                                   onclick="return confirm('Are you sure want to add this course to cart?')">
                                                    <i class="uil uil-shopping-cart-alt"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a class="shrt-cart-btn" title="cart" id="login" href="#"
                                                   onclick="return confirm('You have enrolled this course')">
                                                    <i class="uil uil-shopping-cart-alt"></i>
                                                </a>
                                            }
                                        }
                                        else
                                        {
                                            <a class="shrt-cart-btn" title="cart" id="login" asp-area="Identity" asp-page="/Account/Login"
                                               onclick="return confirm('You must login to add this course to cart')">
                                                <i class="uil uil-shopping-cart-alt"></i>
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="col-md-12 text-center">
                    <div class="main-loader mt-50">
                    </div>
                </div>
            </div>
        </div>
    </div>
}