@using Learning_Managerment_SystemMarket_Services.StudentServices.StudentHomePageService;
@using Learning_Managerment_SystemMarket_Core.Models.Entities;
@using Learning_Managerment_SystemMarket_Core.Contracts;
@using Microsoft.AspNetCore.Identity
@using Learning_Managerment_SystemMarket_ViewModels.StudentViewModels;
@using AutoMapper;

@inject IStudentHomePageService studentHomePage;
@inject IUnitOfWork unitOfWork;
@inject SignInManager<User> SignInManager;
@inject UserManager<User> UserManager;
@inject IStudentHomePageService studentHomePage;
@inject IUnitOfWork unitOfWork;
@inject IMapper _mapper;
@inject Learning_Managerment_SystemMarket_Services.StudentServices.OrderService.IOrderService orderService;
@{
    ViewData["Title"] = "Index";
    ICollection<Course> courseFeature = await studentHomePage.GetFeatureCourse(5);
    var cardCourseFeature = _mapper.Map<ICollection<Course>, ICollection<CardCourseVM>>(courseFeature);
    ICollection<Course> courseNew = await studentHomePage.GetNewestCourse(5);
    var user = await UserManager.GetUserAsync(User);
    var cardCourseNew = _mapper.Map<ICollection<Course>, ICollection<CardCourseVM>>(courseNew);
    Layout = "/Views/Shared/_StudentLayout.cshtml";
}

<div class="row">
    <div class="col-xl-9 col-lg-8">
        <div class="section3125 mt-50">
            <h4 class="item_title">Featured Courses</h4>
            <a asp-area="StudentFunction" asp-action="Explore" asp-controller="Student" class="see150">See all</a>
            <div class="la5lo1">
                <div class="owl-carousel featured_courses owl-theme owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1212px;">
                            @foreach (var item in cardCourseFeature)
                            {
                                <div class="owl-item active" style="width: 283px; margin-right: 20px;">
                                    <div class="item">
                                        <div class="fcrse_1 mb-20">
                                            <a asp-area="StudentFunction" asp-controller="Student" asp-action="CourseDetails" asp-route-id="@item.Id" class="fcrse_img">
                                                @if (item.CoverImage != null)
                                                {
                                                    var base64 = Convert.ToBase64String(item.CoverImage);
                                                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                                    <img src="@imgsrc" width="100%" />
                                                }

                                                @*<img src="@item.CoverImage.ToString()" alt="">*@
                                                <div class="course-overlay">
                                                    <div class="crse_reviews">
                                                        <i class="uil uil-star"></i>3.5
                                                    </div>
                                                    <span class="play_btn1"><i class="uil uil-play"></i></span>
                                                </div>
                                            </a>
                                            <div class="fcrse_content">
                                                <div class="eps_dots more_dropdown">
                                                    <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                                    <div class="dropdown-content">
                                                        <a target="popup" onclick="window.open('https://coursearly.com/cursus/public/courses/the-complete-javascript-course-2021-:-build-real-project/2/share','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;">
                                                            <span><i class="uil uil-share-alt"></i>Share</span>
                                                        </a>
                                                        <a href="https://coursearly.com/cursus/public/save/2/add">
                                                            <span>
                                                                <i class="uil uil-heart"></i>
                                                                Save
                                                            </span>
                                                        </a>
                                                        <a href="https://coursearly.com/cursus/public/report/2/add">
                                                            <span><i class="uil uil-windsock"></i>Report</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="vdtodt">
                                                    <span class="vdt14">@item.Views views</span>
                                                    <span class="vdt14">@item.RelativeCreateDate</span>
                                                </div>
                                                <a asp-area="StudentFunction" asp-controller="Student" asp-action="CourseDetails" asp-route-id="@item.Id" class="crse14s">@item.Title</a>
                                                <a href="#" class="crse-cate">
                                                    @item.SubCategory.SubCategoryName
                                                </a>
                                                <div class="auth1lnkprce">
                                                    <p class="cr1fot">
                                                        By <a asp-area="StudentFunction" asp-controller="Instructor" asp-action="InstructorDetails" asp-route-id="@item.Instructor.Id">@item.Instructor.InstructorName</a>
                                                    </p>
                                                    <div class="prce142">$@item.Price</div>
                                                    @if (user != null)
                                                    {
                                                        var existingEnroll = await orderService.Find(
                                                            expression: c => c.CourseId == item.Id
                                                            && c.StudentId == user.IdUser);
                                                        if (existingEnroll == null)
                                                        {
                                                            <a class="shrt-cart-btn" title="cart" asp-area="StudentFunction"
                                                               asp-controller="Cart" asp-action="AddCourseToCart"
                                                               asp-route-courseId="@item.Id" asp-route-studentId="@user.IdUser"
                                                               onclick="return confirm('Are you sure want to add this course to cart?')">
                                                                <i class="uil uil-shopping-cart-alt"></i>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a class="shrt-cart-btn" title="cart" id="login" href="#"
                                                               onclick="return confirm('You have enrolled this course')">
                                                                <i class="uil uil-shopping-cart-alt"></i>
                                                            </a>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <a class="shrt-cart-btn" title="cart" id="login" asp-area="Identity" asp-page="/Account/Login"
                                                           onclick="return confirm('You must login to add this course to cart')">
                                                            <i class="uil uil-shopping-cart-alt"></i>
                                                        </a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="owl-nav">
                        <button type="button" role="presentation" class="owl-prev disabled"><i class="fa fa-angle-left"></i></button>
                        <button type="button" role="presentation" class="owl-next"><i class="fa fa-angle-right"></i></button>
                    </div><div class="owl-dots disabled"></div>
                </div>
            </div>
        </div>

        <div class="section3125 mt-50">
            <h4 class="item_title">Newest Courses</h4>
            <a asp-area="StudentFunction" asp-action="Explore" asp-controller="Student" class="see150">See all</a>
            <div class="la5lo1">
                <div class="owl-carousel featured_courses owl-theme owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1212px;">
                            @foreach (var item in cardCourseNew)
                            {
                                <div class="owl-item active" style="width: 283px; margin-right: 20px;">
                                    <div class="item">
                                        <div class="fcrse_1 mb-20">
                                            <a asp-area="StudentFunction" asp-controller="Student" asp-action="CourseDetails" asp-route-id="@item.Id" class="fcrse_img">
                                                @if (item.CoverImage != null)
                                                {
                                                    var base64 = Convert.ToBase64String(item.CoverImage);
                                                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                                    <img src="@imgsrc" width="100%" />
                                                }
                                                @*<img src="@item.CoverImage.ToString()" alt="">*@
                                                <div class="course-overlay">
                                                    <div class="crse_reviews">
                                                        <i class="uil uil-star"></i>3.5
                                                    </div>
                                                    <span class="play_btn1"><i class="uil uil-play"></i></span>
                                                </div>
                                            </a>
                                            <div class="fcrse_content">
                                                <div class="eps_dots more_dropdown">
                                                    <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                                    <div class="dropdown-content">
                                                        <a target="popup" onclick="window.open('https://coursearly.com/cursus/public/courses/the-complete-javascript-course-2021-:-build-real-project/2/share','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;">
                                                            <span><i class="uil uil-share-alt"></i>Share</span>
                                                        </a>
                                                        <a href="https://coursearly.com/cursus/public/save/2/add">
                                                            <span>
                                                                <i class="uil uil-heart"></i>
                                                                Save
                                                            </span>
                                                        </a>
                                                        <a href="https://coursearly.com/cursus/public/report/2/add">
                                                            <span><i class="uil uil-windsock"></i>Report</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="vdtodt">
                                                    <span class="vdt14">@item.Views views</span>
                                                    <span class="vdt14">@item.RelativeCreateDate</span>
                                                </div>
                                                <a asp-area="StudentFunction" asp-controller="Student" asp-action="CourseDetails" asp-route-id="@item.Id" class="crse14s">@item.Title</a>
                                                <a href="#" class="crse-cate">
                                                    @item.SubCategory.SubCategoryName
                                                </a>
                                                <div class="auth1lnkprce">
                                                    <p class="cr1fot">
                                                        By <a asp-area="StudentFunction" asp-controller="Instructor" asp-action="InstructorDetails" asp-route-id="@item.Instructor.Id">@item.Instructor.InstructorName</a>
                                                    </p>
                                                    <div class="prce142">$@item.Price</div>
                                                    @if (user != null)
                                                    {
                                                        var existingEnroll = await orderService.Find(
                                                            expression: c => c.CourseId == item.Id
                                                            && c.StudentId == user.IdUser);
                                                        if (existingEnroll == null)
                                                        {
                                                            <a class="shrt-cart-btn" title="cart" asp-area="StudentFunction"
                                                               asp-controller="Cart" asp-action="AddCourseToCart"
                                                               asp-route-courseId="@item.Id" asp-route-studentId="@user.IdUser"
                                                               onclick="return confirm('Are you sure want to add this course to cart?')">
                                                                <i class="uil uil-shopping-cart-alt"></i>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a class="shrt-cart-btn" title="cart" id="login" href="#"
                                                               onclick="return confirm('You have enrolled this course')">
                                                                <i class="uil uil-shopping-cart-alt"></i>
                                                            </a>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <a class="shrt-cart-btn" title="cart" id="login" asp-area="Identity" asp-page="/Account/Login"
                                                           onclick="return confirm('You must login to add this course to cart')">
                                                            <i class="uil uil-shopping-cart-alt"></i>
                                                        </a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="owl-nav">
                        <button type="button" role="presentation" class="owl-prev disabled"><i class="fa fa-angle-left"></i></button>
                        <button type="button" role="presentation" class="owl-next"><i class="fa fa-angle-right"></i></button>
                    </div><div class="owl-dots disabled"></div>
                </div>
            </div>
        </div>

        <div class="section3126">
            <div class="row">
                <div class="col-xl-6 col-lg-12 col-md-6">
                    <div class="value_props">
                        <div class="value_icon">
                            <i class="fa fa-history"></i>
                        </div>
                        <div class="value_content">
                            <h4>Go at your own pace</h4>
                            <p>Enjoy lifetime access to courses on  website</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-6">
                    <div class="value_props">
                        <div class="value_icon">
                            <i class="fa fa-check-circle"></i>
                        </div>
                        <div class="value_content">
                            <h4>Learn from industry experts</h4>
                            <p>Select from top instructors around the world</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-6">
                    <div class="value_props">
                        <div class="value_icon">
                            <i class="fa fa-play-circle"></i>
                        </div>
                        <div class="value_content">
                            <h4>Find video courses on almost any topic</h4>
                            <p>Build your library for your career and personal growth</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-6">
                    <div class="value_props">
                        <div class="value_icon">
                            <i class="fa fa-video"></i>
                        </div>
                        <div class="value_content">
                            <h4>100,000 online courses</h4>
                            <p>Explore a variety of fresh topics</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4">
        <div class="right_side">
            <div class="fcrse_2 mb-30">
                <div class="tutor_img">
                    <a href="https://coursearly.com/cursus/public/instructors/test/25"><img src="https://coursearly.com/cursus/public/default.png" alt=""></a>
                </div>
                <div class="tutor_content_dt">
                    <div class="tutor150">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            @if (user != null)
                            {
                                <a asp-area="StudentFunction" asp-action="StudentDetails" asp-controller="Student" asp-route-id="@user.IdUser" class="tutor_name">@user.FullName</a>
                            }
                        }
                        else
                        {
                            <a href="#" class="tutor_name">Guest</a>
                        }
                    </div>
                    <div class="tutor_cate"></div>
                    <ul class="tutor_social_links">
                        <li><a href="http://facebook.com/" class="fb"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="http://twitter.com/" class="tw"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="http://www.linkedin.com/" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="http://www.youtube.com/" class="yu"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                    <div class="tut1250">
                        <span class="vdt15">Students</span>
                    </div>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-area="StudentFunction" asp-action="StudentDetails" asp-controller="Student" asp-route-id="@user.IdUser" class="prfle12link">Go To Profile</a>
                    }
                    else
                    {
                        <a href="#" class="tutor_name">Welcome</a>
                    }

                </div>
            </div>
            <div class="get1452">
                <h4>Become an Instructor</h4>
                <p>
                    Top instructors from around the world teach millions of students on Cursus. We provide the tools and
                    skills to teach what you love.
                </p>
                <button class="Get_btn" onclick="window.location.href = 'https://coursearly.com/cursus/public/instructor/register';">
                    Comming Soon
                </button>
            </div>
            <div class="fcrse_3">
                <div class="cater_ttle">
                    <h4>Live Streaming</h4>
                </div>
                <div class="live_text">
                    <div class="live_icon"><i class="uil uil-kayak"></i></div>
                    <div class="live-content">
                        <p>Set up your channel and stream live to your students</p>
                        <button class="live_link" onclick="window.location.href = 'https://coursearly.com/cursus/public/instructor/live-stream';">
                            Comming Soon
                        </button>
                        <span class="livinfo">Info : This feature only for Instructors.</span>
                    </div>
                </div>
            </div>
            <div class="fcrse_3">
                <div class="cater_ttle">
                    <h4>Top Categories</h4>
                </div>
                <ul class="allcate15">
                    <li><a href="https://coursearly.com/cursus/public/categories/human-development/14" class="ct_item">Human Development</a></li>
                    <li><a href="https://coursearly.com/cursus/public/categories/literature/17" class="ct_item">Literature</a></li>
                    <li><a href="https://coursearly.com/cursus/public/categories/finance-&amp;-accounting/8" class="ct_item">Finance &amp; Accounting</a></li>
                    <li><a href="https://coursearly.com/cursus/public/categories/jose/16" class="ct_item">Jose</a></li>
                    <li><a href="https://coursearly.com/cursus/public/categories/marketing/2" class="ct_item">Marketing</a></li>
                </ul>
            </div>
            <div class="strttech120">
                <h4>Become an Instructor</h4>
                <p>
                    Top instructors from around the world teach millions of students on Cursus. We provide the tools and
                    skills to teach what you love.
                </p>
                <button class="Get_btn" onclick="window.location.href = 'https://coursearly.com/cursus/public/instructor/register';">
                    Start
                    Teaching
                </button>
            </div>
        </div>
    </div>
</div>



