@using Learning_Managerment_SystemMarket_Services.AdminFunction.StudentService
@using Learning_Managerment_SystemMarket_Core.Modules.Enums;
@using Learning_Managerment_SystemMarket_Services.AdminFunction.UserService
@inject IStudentService _service
@inject IUserService _userService
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listStudent = await _service.FindAll();
}
<section class="section">
    <div class="section-header">
        <h1>Students</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="#">Home</a></div>
            <div class="breadcrumb-item"><a href="#">Students</a></div>
        </div>
    </div>
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-felx justify-content-between">
                        <h4>Students List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div id="datatable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                <table id="datatable" class="table table-striped no-footer dataTable" role="grid" aria-describedby="datatable_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
                                             #
                                        : activate to sort column descending" style="width: 86.8906px;">
                                                #
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="
                                            Name
                                        : activate to sort column ascending" style="width: 301.875px;">
                                                Name
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="
                                            Email
                                        : activate to sort column ascending" style="width: 479.938px;">
                                                Email
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="
                                            Status
                                        : activate to sort column ascending" style="width: 199.109px;">
                                                Status
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="
                                            Action
                                        : activate to sort column ascending" style="width: 220.188px;">
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 1; i <= listStudent.Count; i++)
                                        {
                                            <tr role="row">
                                                <td class="sorting_1">@i</td>
                                                <td>
                                                    <a asp-area="AdminFunction" asp-controller="Student" asp-action="StudentInfo" asp-route-id="@listStudent.ElementAt(i-1).Id">
                                                        @listStudent.ElementAt(i - 1).StudentName
                                                    </a>
                                                </td>
                                                @{
                                                    var userStudent = await _userService.Find(u => u.IdUser == listStudent.ElementAt(i - 1).Id);
                                                }
                                                <td>@userStudent.Email</td>
                                                <td>
                                                    @if (listStudent.ElementAt(i - 1).Status == StatusStudent.Active)
                                                    {
                                                        <span class="badge badge-success m-1">Active</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-danger m-1">Block</span>
                                                    }
                                                </td>
                                                <td class="d-flex">
                                                    <form asp-area="AdminFunction" asp-controller="Student" asp-action="ChangeBlock" asp-route-id="@listStudent.ElementAt(i-1).Id">
                                                        <button type="button" class="btn btn-sm btn-outline-danger btn-icon m-1" onclick="confirm('Are you sure you want to do this?') ? this.parentElement.submit() : ''">
                                                            @if (listStudent.ElementAt(i - 1).Status == StatusStudent.Active)
                                                            {
                                                                <span class="ul-btn__icon">
                                                                    Block
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <span class="ul-btn__icon">
                                                                    Un-Block
                                                                </span>
                                                            }
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
