@using Learning_Managerment_SystemMarket_Services.AdminFunction.CategoryServices
@using Learning_Managerment_SystemMarket_Core.Modules.Enums
@inject ICategoryService _service
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["IdCategory"] = ViewBag.IdCategory;
    var listCategory = await _service.FindAll();
}
<section class="section">
    <div class="section-header">
        <h1>Categories</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a asp-controller="Home" asp-action="Index">Home</a></div>
            <div class="breadcrumb-item"><a href="#">Categories</a></div>
        </div>
    </div>
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-8 ">
                <div class="card">
                    <div class="card-header d-felx justify-content-between">
                        <h4>Categories List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div id="datatable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                <table id="datatable" class="table table-striped no-footer dataTable" role="grid" aria-describedby="datatable_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
                                                 #
                                            : activate to sort column descending" style="width: 82.625px;">
                                                #
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="
                                                Name
                                            : activate to sort column ascending" style="width: 328.781px;">
                                                Name
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="
                                                Status
                                            : activate to sort column ascending" style="width: 191.375px;">
                                                Status
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="
                                                Action
                                            : activate to sort column ascending" style="width: 195.203px;">
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 1; i <= listCategory.Count; i++)
                                        {
                                            <tr role="row">
                                                <td class="sorting_1"><span>@i</span></td>
                                                <td>@listCategory.ElementAt(i - 1).CategoryName</td>
                                                <td>
                                                    @if (@listCategory.ElementAt(i - 1).Status == Status.IsActive)
                                                    {
                                                        <span class="badge   badge-success m-1">Active</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge   badge-danger m-1">De-Active</span>
                                                    }

                                                </td>
                                                <td class="d-flex">
                                                    <a class="btn btn-sm btn-outline-info btn-icon m-1" asp-area="AdminFunction" asp-action="Edit" asp-route-id="@listCategory.ElementAt(i-1).Id">
                                                        <span class="ul-btn__icon"><i class="fas fa-pencil-alt"></i></span>
                                                    </a>|
                                                    <a class="btn btn-outline-danger btn-icon m-1" asp-area="AdminFunction" asp-controller="Category" asp-action="Delete" asp-route-id="@listCategory.ElementAt(i-1).Id" onclick="return confirm('Are you sure you want delete this record?')">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                @if (ViewBag.IdCategory > 0)
                {
                    <partial name="Edit.cshtml" view-data="ViewData" />
                }
                else
                {
                    <partial name="Create.cshtml" />
                }
            </div>
        </div>
    </div>
</section>