@using Learning_Managerment_SystemMarket_Services.AdminFunction.RoleService
@using Learning_Managerment_SystemMarket_Services.AdminFunction.ClaimService
@inject IRoleService _service
@inject IClaimService _claimService
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["IdRole"] = ViewBag.IdRole;
    var listRole = await _service.FindAll();
}
<section class="section">
    <div class="section-header">
        <h1>Roles</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="#">Home</a></div>
            <div class="breadcrumb-item"><a href="#">Role</a></div>
        </div>
    </div>
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-8 ">
                <div class="card">
                    <div class="card-header d-felx justify-content-between">
                        <h4>Role List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div id="datatable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                <table id="datatable" class="table table-striped no-footer dataTable" role="grid" aria-describedby="datatable_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
                                                 #
                                            : activate to sort column descending">
                                                #
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="
                                                Name
                                            : activate to sort column ascending">
                                                Name
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="
                                                Status
                                            : activate to sort column ascending">
                                                Status
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="
                                                Action
                                            : activate to sort column ascending">
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 1; i <= listRole.Count; i++)
                                        {
                                            <tr role="row">
                                                <td class="sorting_1"><span>@listRole.ElementAt(i - 1).Id</span></td>
                                                <td>@listRole.ElementAt(i - 1).Name</td>
                                                <td>
                                                    @{
                                                        //var roles = await _service.(listUser.ElementAt(i - 1));
                                                        var claims = await _claimService.FindAll(x => x.RoleId == @listRole.ElementAt(i - 1).Id);
                                                        foreach (var claim in claims)
                                                        {
                                                            <span class="badge badge-success m-1">@claim.ClaimValue</span>
                                                        }
                                                    }
                                                </td>
                                                <td class="d-flex">
                                                    <a class="btn btn-sm btn-outline-dark btn-icon m-1" asp-controller="Role" asp-action="Edit" asp-route-id="@listRole.ElementAt(i-1).Id">
                                                        <span class="ul-btn__icon"><i class="fas fa-pencil-alt"></i></span>
                                                    </a>
                                                    <a class="btn btn-outline-danger btn-icon m-1" asp-controller="Role" asp-action="Delete" asp-route-id="@listRole.ElementAt(i-1).Id" onclick="return confirm('Are you sure you want delete this record?')">
                                                        <span class="ul-btn__icon"><i class="far fa-trash-alt"></i></span>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                @if (ViewBag.IdRole > 0)
                {
                    <partial name="Edit.cshtml" view-data="ViewData" />
                }
                else
                {
                    <partial name="Create.cshtml" />
                }
            </div>
        </div>
    </div>
</section>
