@using Learning_Managerment_SystemMarket_ViewModels.Instructor.OrderViewModel
@model InfomationListOrderVM

<div class="sa4d25">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="st_title"><i class="uil uil-dollar-sign"></i> Earning</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="earning_steps">
                    <p>Sales earnings:</p>
                    <h2>$@Model.SalesEarnings</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="earning_steps">
                    <p>Your balance:</p>
                    <h2>$0</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="earning_steps">
                    <p>Admin commission:</p>
                    <h2>$@Model.AdminCommission</h2>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="top_countries mt-50">
                    <div class="top_countries_title">
                        <h2>Your Top Course</h2>
                    </div>
                    <ul class="country_list">
                        @foreach (var item in Model.TopCourses)
                        {
                            <li>
                                <div class="country_item">
                                    <div class="country_item_left">
                                        <span>@item.Title (@item.Amount)</span>
                                    </div>
                                    <div class="country_item_right">
                                        <span>$@item.Earning</span>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="date_selector">
                    <div>
                        <select class="ui hj145 dropdown cntry152 prompt srch_explore w-25" id="item_sales">
                            <option value="">Item Sales</option>
                        </select>
                    </div>
                    <div class="date_list152">
                        <a href="#">@ViewBag.DateTime</a>
                    </div>
                </div>
                <div class="table-responsive mt-30">
                    <table class="table ucp-table earning__table">
                        <thead class="thead-s">
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Item Sales Count</th>
                                <th scope="col">Earning</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyitem">
                            @foreach (var item in Model.ItemSales)
                            {
                                <tr>
                                    <td scope="col">@item.Day.DayOfWeek, @item.Day.ToString("MM-dd-yyyy")</td>
                                    <td scope="col">@item.ItemSalesCount</td>
                                    <td scope="col">$@item.Earning</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>Total</td>
                                <td>@Model.ItemSales.Sum(x => x.ItemSalesCount)</td>
                                <td>$@Model.ItemSales.Sum(x => x.Earning)</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#item_sales').find('option').not(':first').remove();

            $.ajax({
                type: 'GET',
                url: 'https://localhost:44371/InstructorFunction/Earning/GetMonthYear',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    var len = 0;
                    if (response != null) {
                        len = response.length;
                    }

                    if (len > 0) {
                        for (var i = 0; i < len; i++) {
                            var month = response[i].month;
                            var year = response[i].year;
                            var option = "<option value='" + month + "-" + year + "'>" + month + "-" + year + "</option>";

                            $("#item_sales").append(option);
                        }
                    }
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });

            $('#item_sales').change(function () {
                var value = $(this).val();
                var next = "?dateTime="+value;
                window.location.href = next;
            });
        });
    </script>
}