@*@model List<Learning_Managerment_SystemMarket_ViewModels.Instructor.InstructorViewModel.OrderVM>*@
@{
    Layout = "~/Areas/Instructor/Views/Shared/_InstructorLayout.cshtml";
}
@using Learning_Managerment_SystemMarket_Services.InstructorServices.InsInstructorService
@using Microsoft.AspNetCore.Identity
@using Learning_Managerment_SystemMarket_Core.Models.Entities
@inject IInsInstructorService insService
@inject UserManager<User> userManager
@{
    var instructor = await userManager.GetUserAsync(User);
    var earning = await insService.GetBalanceInstructor(instructor.IdUser);
    var orders = await insService.GetAllOrders(instructor.IdUser);
}

<div class="sa4d25">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="st_title"><i class="uil uil-file-alt"></i> Statements</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-7">
                <div class="top_countries mt-30">
                    <div class="top_countries_title">
                        <h2>Earnings</h2>
                    </div>
                    <div class="statement_content">
                        <p class="tt-body">Your sales earnings over the period </p>
                        <table class="statement-summary__table">
                            <thead>
                                <tr>
                                    <th>
                                        <p class="t-heading">My funds</p>
                                    </th>
                                    <th>
                                        <p class="t-heading">Earnings</p>
                                    </th>
                                    <th>
                                        <p class="t-heading">Cursus Fees</p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="statement-summary__funds">
                                        <p class="js-earnings__instructor-funds-wrapper">
                                            <span class=""></span>
                                            <span class="js-earnngs__instructor-funds t-currency">$@earning.Balance</span>
                                        </p>
                                    </td>
                                    <td class="statement-summary__earnings">
                                        <p class="js-earnings__earnings-wrapper">
                                            <span class="tt__earning">+</span>
                                            <span class="js-earnings__earnings t-currency">$@earning.Earning</span>
                                        </p>
                                    </td>
                                    <td class="statement-summary__fees">
                                        <p class="js-earnings__fees-wrapper">
                                            <span class="tt__earning">-</span>
                                            <span class="js-earnings__fees t-currency">$@earning.Fee</span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-5">
                <div class="top_countries mt-30">
                    <div class="top_countries_title">
                        <h2>View Invoices</h2>
                    </div>
                    <div class="statement_invoice_content">
                        <form asp-action="Index" method="post">
                            <input type="number" class="form-control" placeholder="Month" name="month" required min="1" max="12" />
                            <input type="number" class="form-control" placeholder="Year" name="year" required />
                            <button type="submit" class="btn btn-success">Search</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="table-responsive mt-30">
                    <table class="table ucp-table earning__table">
                        <thead class="thead-s">
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Order ID</th>
                                <th scope="col">Type</th>
                                <th scope="col">Title</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Fees</th>
                                <th scope="col">Invoice</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in orders)
                            {
                                <tr>
                                    <td>@item.CreatedDate.ToString("dd MMMM yyyy")</td>
                                    <td>ord-@item.Id</td>
                                    <td>Sale</td>
                                    <td>@item.CourseName</td>
                                    <td>@item.Price</td>
                                    <td>-$0</td>
                                    <td><a asp-action="Details" asp-route-id="@item.Id">View</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            @if (ViewBag.Check == true)
            {
                @Html.Partial("~/Areas/Instructor/Views/Statement/_ListOrdersSearch.cshtml");
            }
        </div>
    </div>
</div>

@if (TempData["Message"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["Message"]");
            };
    </script>
}
